.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    position: absolute;
    left: 0px;
    top: 30%;
}
body {
    background-color: #191970;
}
h1{
    color: #ADADAF;
}
h2{
    color: #ADADAF;
}
p{
    color: #ADADAF;
}
a{
    color: #ADADAF;
}
li{
    color: #ADADAF;
}